.main_left, .main_right{
    width: 284px;
    background-color: #fff;
    border-radius: 12px;
    padding: 32px 28px;
    margin: 16px 16px 0 0;
}

.main_left > h3, .main_right > h3 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 36px;
}

.selected {
    color: #615dfa;
    position: relative;
}

.selected:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #615dfa;
    transform: rotate(45deg);
    left: -15px;
    top: 3px;
}

.selected:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    left: -25px;
    top: 1px;
}