@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&amp;display=swap");

.footer {
  background-color: #fff;
  margin-top: 500px;
  padding: 82px 380px 94px 380px;
  cursor: pointer;
}

.content_grid {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.footer_left {
  width: 284px;
}

.footer_left_top {
  display: flex;
}

.footer_left_top > img {
  width: 40px;
  padding: 16px 8px;
  background-color: #615dfa;
  border-radius: 20px;
  margin-right: 1em;
}

.footer_left_top > div > div:nth-child(1) {
  font-family: Titillium, sans-serif;
  font-size: 1.375rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.footer_left_top > div > p:nth-child(2) {
  margin-top: 2px;
  font-family: Rajdhani, sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer_left_content {
  width: 284px;
  margin-top: 26px;
  color: #8f91ac;
  font-size: 0.875rem;
  line-height: 1.7142857143em;
  font-weight: 500;
  font-family: Rajdhani, sans-serif;
}

.footer_left_bottom {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.footer_left_bottom > i {
  margin-right: 24px;
}

.footer_item > p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 46px;
}

.footer_item > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_item > ul > li {
  color: #8f91ac;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
  margin-bottom: 16px;
}

.footer_item > ul > li:hover{
    color: #00c7d9;
}
