@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&amp;display=swap");

.create_post {
  /* transform: translate(30%, 0px); */
  margin: 0px auto;
  transition: transform 0.4s ease-in-out 0s;
  max-width: 1184px;
  padding: 112px 0 100px 40px;
  position: relative;
  font-family: Rajdhani, sans-serif;
}

.create_post > img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 3%;
  z-index: 3;
}

.create_post > p:nth-child(3) {
  position: absolute;
  top: 165px;
  left: 20%;
  z-index: 2;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
 
.create_post_form {
  padding: 32px 28px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  margin-top: 50px;
  width: 1184px;
}

.create_post_form > p:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
  color: #3e3f5e;
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
}

.form_group {
  position: relative;
  margin-bottom: 20px;
}

.form_group > label:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 700;
  color: #adafca; 
}

.form_group > input {
  height: 48px;
  font-size: 0.875rem;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  padding: 0 12px;
}

.form_group > input::placeholder {
  color: #adafca;
}

.form_group > textarea {
  height: 100px;
  font-size: 0.875rem;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  padding: 10px 12px;
}

.form_group > textarea::placeholder {
  color: #adafca;
}

.error {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(253, 83, 83);
}

.submit_group {
  display: flex;
  justify-content: end;
}

.submit_group > button:nth-child(2) {
  border: none;
  width: 80px;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);
  height: 40px;
  font-size: 0.75rem;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.submit_group > button:nth-child(2):hover {
  background-color: #6610f2;
}

.submit_group > button:nth-child(1) {
  border: none;
  width: 80px;
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);
  height: 40px;
  font-size: 0.75rem;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.submit_group > button:nth-child(1):hover {
  background-color: #1bc5d4;
}


