.container{
    padding: 28px;
}

.container > p {
    color: #615dfa;
    font-weight: 600;
    margin-bottom: 16px;
}

.item_Tag{
    margin: 0 5px 8px 0;
    font-size: 14px;
    border-radius: 10px;
    background-color: #ccc;
    padding: 1px 6px;
    color: #000;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.item_Tag:hover{
    color: #fff;
    background-color: rgb(24, 194, 209)
}
