.profile{
    max-width: 1264px;
    margin: 0 auto;
    padding: 112px 0 100px 80px;
}

.profile_inner{
    border-radius: 12px;
    background-color:#fff;
    position: relative;
}

.profile_inner_img{
    border-radius: 12px 12px 0 0;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profile_inner_avatar{
    width: 124px;
    height: 124px;
    object-fit: cover;
    position: absolute;
    top: 220px;
    left: 50%;
    border: 12px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.profile_inner_description{
    padding: 52px 0 32px;
}

.des_left{
    padding: 0 30px
}

.des_left > p:first-of-type{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    color: #605cf8;
}

.des_left > p:last-of-type{
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 10px 0 0;
}

.des_name{
    font-size: 24px;
    font-weight: bold;
}

.des_social{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    text-decoration: none;
}

.des_social:hover{
    animation:  move 0.3s;
    animation-fill-mode: forwards;
}

@keyframes move{
    from {transform: translateY(0)}
    to {transform: translateY(-6px)}
}

.des_social > i {
    font-size: 12px;
    color: #fff
}

.divide{
    height: 20px;
    width: 2px;
    background-color: #e1e1e1;
}

.outer{
    margin: 16px 0 0;

}

.main_left, .main_right, .main_center{
    background-color: #fff;
    border-radius: 12px;
    padding: 32px 28px;
}

.main_left > h3, .main_right > h3, .main_center > h3 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 36px;
}

.main_left, .main_right {
    width: 284px;
}

.main_center{
    width: 584px;
}

.main_right > div > p {
    padding: 0;
    line-height: 14px;
    margin-bottom: 14px;
}

.introduce{
    line-height: 22px
}

.btn_follow{
    position: absolute;
    right: 20px ;
    top: 245px;
    font-weight: 600;
    font-size: 18px;
    background-color: #605cf8;
    color: #fff;
    padding: 4px 20px;
    box-shadow: 0px 0px 5px 1px #000;
    border: none;
    border-radius: 4px;
}

.btn_followed{
    position: absolute;
    right: 20px ;
    top: 245px;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(13, 139, 61, 0.726);
    color: #fff;
    padding: 4px 20px;
    box-shadow: 0px 0px 5px 1px #000;
    border: none;
    border-radius: 4px;
}