.main{
    margin: 32px 0 0;
}

.main > p:first-of-type{
    font-size: 12px;
    text-transform: uppercase;
    color: #8f91ac;
    font-weight: 600;
    line-height: 12px;
    margin: 0;
}

.main > h2:first-of-type, .main > h2:first-of-type > span{
    color: #3e3f5e;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin: 8px 0px 0px;
}

.main > h2:first-of-type > span{
    color: #00c7d9
}

.input{
    padding: 0 40px 0 20px!important;
    border-radius: 12px!important;
    height: 46px!important;
    font-weight: 700!important; 
    color: rgb(62, 63, 94)!important;
    outline-color: rgb(62, 63, 94)!important;
}

.search_bar > div > i {
    position: absolute;
    right: 30px;
    color: rgb(173, 175, 202);
}

.input_label{
    position: absolute;
    background-color: #fff;
    font-weight: 600;
    color: rgb(173, 175, 202);
    font-size: 14px;
    top: 12px;
    left: 20px;
}

.input:focus + .input_label, .input:valid + .input_label {
    animation: focus 0.4s;
    animation-fill-mode: forwards;
}

@keyframes focus {
    0% {
        font-size: 14px; top: 12px; left: 20px;
    }
    100% {
        font-size: 12px; top: -8px; left: 26px;
    }
}

.search_bar{
    margin: 32px 0 0;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px 28px;
}

.select_label{
    position: absolute;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    color: rgb(173, 175, 202);
    top: -8px;
    left: 26px;
}

.pagination{
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination > p{
    color: rgb(143, 145, 172);
    font-weight: 600;
    margin: 0;
}

.pagination span{
    color: #00c7d9
}

.list_container{
    margin: 16px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.list_item{
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    box-shadow: 2px 2px 10px 2px #d1d1d1;
}

.list_item > div > img:first-of-type{
    width: 100%;
    height: 96px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.list_item > div > img:nth-of-type(2){
    background-color: #fff;
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)
}

.list_item_content{
    text-align: center;
    padding: 84px 28px 32px;
}

.list_item_content > div:first-of-type > a{
    color: #3e3f5e;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.list_item_content > div:first-of-type > a:hover{
    color: #00c7d9;
}

.social{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.social > a{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 4px;
}

.social > a > i{
    color: #fff;
    font-size: 10px;
}

.introduce{
    margin: 25px 0 0;
}