.profile{
    max-width: 1184px;
    margin: 0 auto;
    padding: 112px 0 100px;
}

.profile_inner{
    border-radius: 12px;
    background-color:#fff;
    position: relative;
}

.profile_inner_img{
    border-radius: 12px 12px 0 0;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profile_inner_avatar{
    width: 124px;
    height: 124px;
    object-fit: cover;
    position: absolute;
    top: 220px;
    left: 50%;
    border: 12px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%)
}

.profile_inner_description{
    padding: 52px 0 32px;
}

.des_left{
    padding: 0 30px
}

.des_left > p:first-of-type{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
}

.des_left > p:last-of-type{
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 10px 0 0;
}

.des_name{
    font-size: 24px;
    font-weight: bold;
}

.des_social{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    text-decoration: none;
}

.des_social:hover{
    animation:  move 0.3s;
}

@keyframes move{
    from {transform: translateY(0)}
    to {transform: translateY(-6px)}
}

.des_social > i {
    font-size: 12px;
    color: #fff
}

.divide{
    height: 20px;
    width: 2px;
    background-color: #e1e1e1;
}