.detail {
  margin: 0px auto;
  transition: transform 0.4s ease-in-out 0s;
  max-width: 1184px;
  padding: 112px 0 100px;
  position: relative;
  font-family: Rajdhani, sans-serif;
}

.detail > img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 3;
}

.detail > p:nth-child(3) {
  position: absolute;
  top: 165px;
  left: 20%;
  z-index: 2;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
