@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&amp;display=swap");

.myposts {
  /* transform: translate(30%, 0px); */
  margin: 0px auto;
  transition: transform 0.4s ease-in-out 0s;
  max-width: 1184px;
  padding: 112px 0 100px 40px;
  position: relative;
  font-family: Rajdhani, sans-serif;
}

.myposts > img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 3%;
  z-index: 9999;
}

.myposts > p:nth-child(3) {
  position: absolute;
  top: 165px;
  left: 20%;
  z-index: 9999;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.myposts_title {
  display: flex;
  margin-top: 25px;
  padding: 0 28px;
  font-size: 0.75rem;
  color: #3e3f5e;
  line-height: 1em;
  margin-bottom: 10px;
}

.myposts_title > div:nth-child(1) {
  font-weight: 700;
  width: 50%;
}

.myposts_title > div:nth-child(2) {
  width: 10%;
  text-align: center;
  font-weight: 700;
}

.myposts_title > div:nth-child(3) {
  width: 10%;
  text-align: center;
  font-weight: 700;
}

.myposts_title > div:nth-child(4) {
  width: 10%;
  text-align: center;
  font-weight: 700;
}

.myposts_title > div:nth-child(5) {
  width: 20%;
  text-align: center;
  font-weight: 700;
}

.myposts_list {
  padding: 32px 28px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.showing{
  display: flex;
  justify-content: end;
  padding-right: 35px;
  margin-top: 20px;
}

.management {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 50px;
}

.management > select {
  width: 200px;
  height: 48px;
  padding-left: 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  margin-right: 16px;
}

.management > form {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.management > form > input {
  height: 48px;
  font-size: 1em;
  padding: 0 18px;
  width: 90%;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  margin-right: 16px;
  border-radius: 12px;
  font-weight: 700;
  background-color: #fff;
  cursor: pointer;
}

.management > form > input::placeholder{
  color: #3e3f5e;
}

.management > form > button {
  border: none;
  width: 64px;
  background-color: #23d2e2;
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}

.management > form > button:hover {
  box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
  background-color: #1bc5d4;
}

.create{
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-weight: 700;
}

.create:hover{
  text-decoration: underline;
}
