.app {
  /* background-color: #fff; */
  margin: auto;
  margin-top: 6rem;
}
.banner {
  display: flex;
  align-items: center;
  background-image: url("../Home/images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -999;
}
.banner_title {
  font-size: 2.7rem;
  font-weight: 700;
  color: #fff;
}
.banner_text {
  margin-top: 10px;
  font-size: 1.35rem;
  font-weight: 500;
  color: #fff;
}
.forum_heading {
  /* margin-top: 5rem; */
}
.forum_pretitle {
  color: #9395af;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 3rem;
}

.forum_title {
  margin-top: 6px;
  font-size: 1.625rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  line-height: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.notification {
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #23d2e2;
  background-color: #e0f9fb;
  padding: 1.2rem;
  width: 100%;
}

.content {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 80%;
  position: relative;
}
.content img {
  max-width: 69rem;
}
.postContent {
  margin-top: -50px;
  background-color: #fff;
  text-align: center;
}

.author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #615dfa;
  background-color: #615dfa;
  object-fit: cover;
}
.author {
  text-align: center;
  width: 7rem;
  margin: 1rem;
}
.author h3 {
  margin-top: 1rem;
}
.postContent img {
  text-align: center;
  margin: auto;
}
.btn_follow {
  font-weight: 600;
  font-size: 18px;
  color: #615dfa;
  padding: 4px 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  width: 49.5%;

}
.btn_followed {
  width: 49.5%;
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 9, 9, 0.726);
  background-color: #fff;

  padding: 4px 20px;
  border: none;
  border-radius: 4px;

}
.btn_comment {
  font-weight: 600;
  font-size: 18px;
  color: #615dfa;
  background-color: #fff;
  padding: 4px 20px;
  border: none;
  border-radius: 4px;
  width: 49.5%;
}
.function {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.postComment {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.postComment_text img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #615dfa;
  background-color: #615dfa;
  margin-top: 2rem;
}
.postComment_text {
  display: flex;
  text-align: center;
  align-items: center;
}
.postComment_text h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.postComment_text p {
  text-align: left;
  padding-left: 4.5rem;
  font-size: 1.1rem;
}
.infoTag {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 13rem;
  padding: 1rem;
  justify-content: center;
  height: 5rem;
}
.infoTag i {
  border-radius: 50%;
  border: 2px solid #615dfa;
  color: #fff;
  background-color: #615dfa;
  padding: 1rem;
}
.info {
  /* position: absolute;
  transform: translate(50%, -50%);
  right: 26.3%;
  top: 37.2rem; */
}
.infoTag_text {
  padding-left: 1rem;
}

.tags {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 1rem;
  width: 13rem;
  padding: 1rem;
  padding-left: 1.5rem;
}
.infoTag_text h5 {
  font-size: 2rem;
}
.tags h5 {
  font-size: 1rem;
}
.addComment input {
  width: 89%;
  height: 3rem;
}
.addComment {
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 80%;
}
.addComment label {
  font-weight: 700;
  font-size: 1.5rem;
}
.btn_post {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 18px;
  background-color: #615dfa;
  color: #fff;
  padding: 4px 20px;
  border: none;
  border-radius: 4px;
}
.bodyPost {
  display: flex;
  justify-content: space-between;
}
.authorContent{
  margin-bottom: 1rem;
  background-color: #fff;
}
.post_item_user{
  margin-bottom: 5rem;
}
.btn_delete{
  border:none;
  background-color: #fff;
}
.btn_delete i{
  
  color: #fa5d5d;
}
.commentHeader{
  display: flex;
  justify-content: space-between;
}

.checkbox:checked + div{
  display: block!important;
}

.notification2{
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #23d2e2;
  background-color: #e0f9fb;
  padding: 1.2rem;
  width: 80%;
}