.app{
    /* background-color: #fff; */
    margin: auto;
    margin-top: 6rem;
}
.banner {
    display: flex;
    align-items: center;
    background-image: url("../Home/images/banner-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -999;
  }
  .banner_title {
    font-size: 2.7rem;
    font-weight: 700;
    color: #fff;
  }
  .banner_text {
    margin-top: 10px;
    font-size: 1.35rem;
    font-weight: 500;
    color: #fff;
  }
  .forum_heading {
    /* margin-top: 5rem; */
  }
  .forum_pretitle {
    color: #9395af;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3rem;
  }
  
  .forum_title {
    margin-top: 6px;
    font-size: 1.625rem;
    font-weight: 700;
  }

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  line-height: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.notification{
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid #23d2e2;
    background-color: #e0f9fb;
    padding: 1.2rem;
    width: 100%;
}

.content{
    background-color: #fff;
    padding: 2rem;
}
.content img{
    max-width: 69rem;
}
.author img{
    border-radius: 50%;
    border: 5px solid ;
}
.author{
    text-align: center;
    width: 7rem;
    margin: 1rem;
}